.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    margin-left: 5%;
}

.navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    margin: 10px;
}

.navbar a {
    color: aliceblue !important;
}