.btn {
    background-color: #74AFC0;
    border: none;
    padding: 1%;
    border-radius: 10px;
    font-weight: bolder;
    margin-top: 15px;
    cursor: pointer;
    font-size: 15px;
    width: 15em;
}

.btn:hover {
    color:aliceblue;
    background-color: #010B28;
    transform: translateY(-3px);
    transition-duration: 0.5s;

}